html,
body {
    font-family: $font-family;
    overflow-x: hidden;
    @include bp-phone-xl() {
        background: none;
    }
}

h1, h2, h3 {
    font-family: $font-family-heading;
}

.c-wrapper {
    max-width: 1220px;
    margin: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    @include bp-phone-small() {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.is-disabled{
    pointer-events: none;
    opacity: 0.4;
}

.is-error {
    background: rgba(251, 95, 92, 0.1) !important;
    outline: 0 !important;
    transition: all 0.5s;
}

.is-blured {
    filter: blur(2px);
}

.m-success {
    color: $color-btn-text;
}

.is-success {
    color: $color-green;
}

h2 {
    & + h5 {
        margin-top: 10px;
    }
}

p {
    font-size: 15px;
}

.cta-container {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;

    .cta-left {
        flex: auto;
    }
}




.child-bg {
    @include bgimg($main-photo, center, no-repeat);
    background-position: center top;
    background-size: cover;
}

.c-questionslide {
    display: none;
    background: white;
    min-height: 500px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    //@include bgimg($logo-icon);
    background-size: 160px;
    background-position: 100% 100%;
    @include bp-phone-xl-reverse(){
        max-width: 720px;
        margin: auto;
        //background: white;
        box-shadow: 0px 2px 1px #FBDDDD;
        //border-top: 10px solid $color-theme;
    }
    .c-questionslide-inner {
        display: flex;
        flex-direction: column;
        min-height: 506px;
        @include bp-phone-xl-reverse(){
            padding: 10px 30px;
        }
        @include bp-phone-xl() {
            min-height: 100vh;
            //padding-top: 80px;
            padding-top: 5px;
        }
    }
    &.m-first {
        display: block;
    }
    .c-questionslide-header {
        //background: black;
        display: flex;
        min-height: 32px;
        position: relative;
        align-items: center;
        @include bp-phone-xl-reverse(){
            margin-top: 20px;
        }
        @include bp-phone-xl() {
            position: absolute;
            width: 100%;
            margin-top: 190px;
            //display: none;
            z-index: 99;
        }
        .e-nr {
            color: white;
            padding: 5px 20px;
            margin: 0;
        }
        .e-btn--arrow {
            left: 5px;
            height: 60%;
            & + .e-nr {
                margin-left: 20px;
            }
        }
        .e-logo {
            height: auto;
            display: inline-block;
            width: 120px;
            margin-left: 43px;
            @include bp-phone-xl() {
                display: none;
            }
        }
    }
    .c-questionslide-footer {
        margin-top: auto;
        text-align: center;
        padding: 15px;
        @include bp-phone-xl() {
            margin-top: initial;
            padding: 20px;
        }
        .e-btn.m-next {
            opacity: 0.6;
            @include bp-phone-xl-reverse(){
                width: 100%;
            }
            &.is-active {
                opacity: 1;
            }
        }
    }
    .c-questionslide-content {
        position: relative;
        //overflow: hidden;
        height: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .b-top {
            margin-top: 15px;
            //min-height: 150px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            //&:before {
            //    content: '';
            //    @include bgimg('questioner-intro.png', center, no-repeat, cover);
            //    position: absolute;
            //    top: 0;
            //    left: 0;
            //    right: 0;
            //    bottom: 0;
            //    opacity: 0.3;
            //}
            .e-subtitle {
                margin: 0;
                margin-top: 60px;
                padding: 0;
                //max-width: 320px;
                position: relative;
                color: #444;
                font-size: 17px;
                line-height: 30px;
                font-size: 18px;
                opacity: 0.2;
                font-family: "Teko";
                @include bp-phone-xl() {
                    //margin-right: auto;
                    max-width: 100%;
                    //padding: 25px 25px;
                    //font-size: 25px;
                    line-height: 20px;
                    font-size: 17px;
                    color: black;
                    //padding-top: 35px;
                }
            }
            .e-title {
                font-size: 40px;
                //font-weight: bold;
                margin: 0;
                text-align: center;
                padding-top: 40px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 20px;
                line-height: 44px;
            }
            .e-title {
                & + .e-subtitle {
                    max-width: initial;
                }
            }
        }
    }
    .e-title {
        color: $color-text;
    }

    &[data-answertype="multipleanswer"] {
        .c-questionslide-content {
            min-height: initial;
        }
        .b-questions {
            padding-top: 0;
            padding-bottom: 0;
        }
        .c-questionslide-content .b-top .e-title {
            padding-bottom: 0;
        }
    }
}

.c-introslide {

    min-height: 50vh;
    position: relative;
    @include bp-phone-xl() {
        background-position: 80%;
    }
    .b-intro {
        min-height: 100vh;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }
    .b-intro--inner {
        //margin-top: auto;
    }
    &.m-loading {
        @include bgimg('loading-screen.jpg', center, no-repeat, cover);
    }
}



.c-footer {
    background: #202739;
    display: flex;
    border-top: 5px solid white;
    //font-family: 'Karla', sans-serif;
    //letter-spacing: 1px;
    display: none;
    @include bp-phone-xl() {
        border-top: 0;
    }
    .b-nav {
        opacity: 0.7;
        @include bp-phone-xl() {
            flex-direction: column;
        }
    }
    .e-rights {
        opacity: 0.7;
        font-size: 12px;
        @include bp-phone-xl() {
            margin-top: 20px;
        }
    }
    .c-footer-footer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        @include bp-phone-xl() {
            flex-wrap: wrap;
        }
    }
    .e-social {
        margin-top: -7px;
        margin-right: auto;
        margin-left: 30px;
    }
}


.c-loadingslide {
    background: none;
    min-height: 100px;
    .c-questionslide-content .b-top {
        background: none;
    }
    .c-questionslide-content {
        @include bp-phone-xl() {
            padding-top: 50px;
        }
        .b-top {
            &:before {
                content: '';
                background: none;
            }
        }
    }
    .b-top {
        @include bp-phone-xl() {
            padding-bottom: 30px;
        }
    }
    .e-title {
        color: white;
    }
}

.c-desktop-only {
    @include bp-phone-xl() {
        display: none;
    }
}

.c-mobile-only {
    display: none;
    @include bp-phone-xl() {
        display: block;
    }
}

.c-content--inner.m-extraheight {
    padding-top: 110px;
    padding-bottom: 30px;
}

.c-progress-bar {
    min-height: 10px;
    width: 100%;
    display: inline-block;
    margin-top: 0;
    //background: hsla(180, 70%, 73%, 0.4);
    position: absolute;
    top: 0;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 10px;
    width: 100%;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    @include bp-phone-xl-reverse(){
        padding-top: 50px;
    }
    .c-progress-bar--inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .e-item {
        width: 30px;
        height: 30px;
        position: relative;
        .e-dot {
            width: 5px;
            height: 5px;
            background: black;
            border-radius: 10px;
            opacity: 0.3;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        //&:after{
        //    content: '';
        //    width: 5px;
        //    height: 5px;
        //    background: black;
        //    border-radius: 10px;
        //    opacity: 0.3;
        //    position: absolute;
        //    left: 0;
        //    right: 0;
        //    margin: auto;
        //}
        &.is-past, &.is-current {
            position: relative;
            &:before {
                content: attr(data-nr);
                position: absolute;
                top: 7px;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                font-size: 11px;
            }
        }
        &.is-past {
            .e-dot {
                background: $color-btn-bg;
                opacity: 1;
            }
            &:before{
                color: $color-btn-bg;
            }
        }
        &.is-current {
            &:after {
                content: '';
                @include bgimg($step-icon);
                width: 25px;
                height: 25px;
                position: absolute;
                top: -30px;
                left: 0;
                right: 0;
                margin: auto;
            }
            .e-dot {
                //background: $color-btn-bg;
                opacity: 1;
            }
        }
    }
    .c-progress-bar--process {
        height: 100%;
        position: absolute;
        left: 0;
        background: #61e3e2;
        //width: calc(100% / 12);
    }
}


.c-success {
    color: $color-green;
}

.m-update-email{
    margin-bottom: 20px;
    margin-top: -5px;
    //.e-btn{
    //    width: 100%;
    //}
}
