// Colors
$color-blue: #2206A2;
$color-indigo: #6574cd;
$color-purple: #9561e2;
$color-pink: #f66D9b;
$color-red: #ea5455;
$color-orange: #f6993f;
$color-yellow: #ffed4a;
$color-green: #38c172;
$color-teal: #4dc0b5;
$color-cyan: #6cb2eb;
$color-white: white;


//Gender color

$color-boy: #89C947;
$color-girl: #DD5991;

// Theme
$color-theme: #7BB540;
$color-theme-alternative: #FF2E63;
$color-theme-alternative-v2: #FF2E63;

$color-active-bg: $color-blue;
$color-active-text: white;

//btn
$color-btn: white;
$color-btn-bg: $color-theme;
$color-btn-border: $color-theme;
$color-btn-text: white;
$color-btn-bg-hover: white;
$color-btn-text-hover: $color-theme;

//btn-v2
$color-btnv2: white;
$color-btnv2-bg: white;
$color-btnv2-border: $color-green;
$color-btnv2-border-hover: $color-green;
$color-btnv2-text: $color-green;
$color-btnv2-bg-hover: $color-green;
$color-btnv2-text-hover: white;

//btn-v3 //
$color-btnv3: $color-theme;
$color-btnv3-bg: white;
$color-btnv3-border: $color-theme;
$color-btnv3-text: $color-theme;
$color-btnv3-bg-hover: $color-theme;
$color-btnv3-text-hover: white;

//btn-v4 // next btn
$color-btnv4: white;
$color-btnv4-bg: white;
$color-btnv4-bg-hover: $color-blue;
$color-btnv4-border: $color-blue;
$color-btnv4-border-hover: $color-blue;
$color-btnv4-text: $color-blue;
$color-btnv4-text-hover: white;

// Text
$color-text: black;
$size-text: 13px;
$size-text-line-height: 18px;

//overlay
$color-bg-overlay: rgba(0, 0, 0, 0.6);
$color-bg-overlay-white: rgba(255, 255, 255, 0.6);

//border-radius
$general-border-radius: 5px;

// Typography
$font-family: 'Cabin', sans-serif;
//$font-family-heading: 'Teko', sans-serif;
$font-family-heading: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$container-max-with--userdashboard: 710px;

//border

$general-border-color: rgba($color-btn-border, 0.1);

//error
$color-error: #{$color-btn-bg};

$step-icon: 'icons/eyeglasses.png';
$main-photo: 'main-image-coursista.jpg';
$logo-icon: 'coursista-logo-c-300.png';


//$main-photo: 'intro_bg.jpg';
