@import '../front/css/variables.css';
@import '../front/css/main.css';
@import '../front/css/main-page.css';
@import '../front/css/quizz-style.css';
@import '../front/css/adaptive.css';
@import '../front/css/summary.css';
@import '../front/css/payment.css';
@import '../front/css/changes.css';