.index-gender-btn img{
    border-radius: 50%;
    width: 200px;
}

.index-gender-male {
    border: 5px solid $color-boy;
}

.index-gender-female {
    border: 5px solid $color-girl;
}

.index-footer-font-size {
    font-size: 12px;
}
