.btn-new-green {
    background-color: #22BF8E !important;
    border: #22BF8E !important;
    color: #FFFFFF;
}

.quiz-top-bar {
    background: #FAF8FB;
    border-bottom: 2px solid #FF7D3B;
}

.quiz-logo {
    width: 350px
}

.quiz-top-bar-icon {
    font-size: 30px;
    color: #FF7D3B;
}

.quiz-question-card {
    border:2px solid #FAF8FB;
    border-radius: 10px;
}

.quiz-question-card:hover {
    border:2px solid #22BF8E;
}

.quiz-active-answer {
    background-color: #22BF8E;
    border: #22BF8E;
    color: #FFFFFF;
}