:root {
    --background-color: #fff;
    --acent-color-green: #00BD90;
    --grey-color: #1C1C1C;
    --light-grey-color: #C5C5C5;
    --light-red-color: #FF735C;
    --dark-font-color: #2E2E2E;
}

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

.wrapper {
    min-height: 100%;
    margin-bottom: -124px;
}

.container-box {
    height: 100vh;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.font-dark-opacity-500 {
    color: var(--dark-font-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    opacity: .5;
}

.font-white-600 {
    color: white;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}

.font-white-400 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-white-700 {
    color: white;
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}

.font-white-26-700 {
    color: white;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.font-white-16-700 {
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-300 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.font-grey-10-300 {
    color: var(--grey-color);
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    opacity: .65;
}

.font-grey-color-700 {
    color: var(--grey-color);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.font-grey-color-400 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-grey-32-700 {
    color: var(--grey-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}

.font-grey-18-700 {
    color: var(--grey-color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-16-700 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-500 {
    color: var(--light-grey-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.font-dark-grey-500 {
    color: var(--grey-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.font-accent-color-400 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-grey-16-500 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.font-accent-600 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.font-accent-700 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-accent-40-700 {
    color: var(--acent-color-green);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.font-accent-30-700 {
    color: var(--acent-color-green);
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
}

.font-light-accent-700 {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    opacity: .5;
}

.font-accent-18-700 {
    color: var(--acent-color-green);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.btn-green-squre, .btn-green-squre:hover {
    padding: 12px 43px;
    border-radius: 10px;
    background-color: var(--acent-color-green);
    color: white;
}

.btn-white-squre, .btn-white-squre:hover {
    padding: 12px 43px;
    border-radius: 10px;
    background-color: white;
    max-height: 44px;
    color: var(--acent-color-green)
}

.btn-green-circle, .btn-green-circle:hover {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--acent-color-green);
    color: white;
}

/* header footer */

.header, footer {
    padding: 35px 0;
}

footer .navbar-nav {
    flex-direction: row;
}

footer .navbar-container {
    align-items: center;
}

.header .adaptive-header {
    display: none;
}

.header ul li:not(:last-child), footer ul li:not(:last-child) {
    margin-right: 60px;
}

.header .navbar {
    padding: 0;
    margin: 0;
}

.header .nav-menu, footer .nav-menu {
    margin-left: 90px;
}

.header .nav-menu .nav-link.active {
    position: relative;
}

.header .nav-menu .nav-link.active::after {
    content: '';
    display: block;
    height: 4px;
    width: 17px;
    border-radius: 6px;
    background-color: var(--acent-color-green);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--grey-color);
}

footer {
    background-color: var(--acent-color-green);
    padding: 40px 0;
}

/* sections */

.section.first-section {
    margin-top: 70px;
}

.section.last-section, .last-section {
    margin-bottom: 110px;
}

.section {
    margin-top: 90px;
    padding: 80px 0;
}

.section .title-box > p {
    margin-bottom: 12px;
}

.section .title-box > h2 {
    margin-bottom: 40px;
}

.section .title-box > h2.mb-20 {
    margin-bottom: 20px;
}

.section .title-box .description {
    margin-bottom: 20px;
}

.accent-section {
    background-color: rgba(0,189,144, .1);
}

.section .white-shadow-box-radius-10 {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 10px;
}

.section .bg-image.top-right {
    top: 0;
    right: 0;
    z-index: -1;
}

.bg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.lg-hide-bg-image, .bg-bottom-center-adaptive {
    display: none;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.p-y-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.d-block {
    display: block;
}

.dark-accent {
    background-color: var(--acent-color-green);
}

.border-radius-10 {
    border-radius: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-100 {
    margin-top: 100px;
}



.time-section {
    justify-content: space-between;
    align-items: center;
}

.time-section p, .time-section span {
    display: block;
    margin: 0;
}

.time-section .dots {
    margin: 0 30px;
}

.doctor-block h2 {
    margin-bottom: 30px;
}

.doctor-block img {
    max-width: 345px;
}

.doctor-block .content-box {
    margin-left: 60px;
}

.doctor-block button {
    margin-top: 35px;
}

.doctor-block .container-wrapper {
    display: flex;
    align-items: center;
}

.accordion-box .accordion-button:not(.collapsed) {
    color: var(--grey-color);
    background-color: white;
    border-color: transparent;
    box-shadow: transparent;
}

.accordion-box .accordion-button {
    outline: none;
    border-color: var(--grey-color);
    box-shadow: var(--grey-color);
}

.accordion-box .accordion-item {
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.accordion-box .accordion-item:not(:last-child) {
    margin-bottom: 20px;
}

.accordion-box .title-box {
    margin-bottom: 30px;
}

.plan-selection {
    margin-top: 50px;
}

.plan-selection .title-box {
    margin-bottom: 25px;
}

.plan-selection .title-box.main {
    margin-bottom: 60px;
}

.plan-selection .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.plan-selection .content-wrapper .plans, .plan-selection .content-wrapper .plan_includes {
    flex-shrink: 1;
}

.plan-selection .content-wrapper .plans {
    margin-right: 40px;
}

.plan-selection .plan {
    display: block;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px 40px;
    position: relative;
}

.plan-selection .plan.active {
    border: 2px solid #FF725E;
}

.plan-selection .plan.active:before {
    content:'SPECIAL OFFER - SAVE 33%';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    background-color: #FF725E;
    width: 240px;
    height: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plan-selection .plan:not(:last-child) {
    margin-bottom: 40px;
}

.plan-selection .plan:last-child {
    margin-bottom: 20px;
}

.plan-selection .plan .row-inf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-selection p {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.canceled-text {
    text-decoration: line-through;
}

.plan-selection .sales-box>p {
    margin-right: 30px;
}

.plan-selection .plan .row-inf:not(:last-child) {
    margin-bottom: 17px;
}

/*.checkbox-box {*/
/*    display: flex;*/
/*}*/

.checkbox-box label{
    display: flex;
    align-items: center;
}

.checkbox-box label a {
    margin-left: 5px;
}

.checkbox-box .styled-checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-box label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox-box .custom-checkbox {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid var(--acent-color-green);
    border-radius: 2px;
    min-width: 24px;
    min-height: 24px;
}

.checkbox-box input:checked + label .custom-checkbox {
    content: '';
    background: url(/assets/icons/check.png);
    left: 0;
    top: 0;
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position-x: center;
    background-position-y: 6px;
}

.checkbox-box label .custom-checkbox.circle {
    border-radius: 50%;
    position: relative;
}

.checkbox-box input:checked + label .custom-checkbox.circle {
    background: none;
}

.checkbox-box input:checked + label .custom-checkbox.circle .circle {
    display: block;
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--light-grey-color);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.checkbox-box .custom-checkbox.circle .circle {
    display: none;
}

.plans-box button{
    margin-top: 20px;
}

.plans-include-wrapper .checkbox-box:not(:last-child) {
    margin-bottom: 30px;
}

section.summary p {
    margin: 0;
}

.summary-conclusion {
    margin-top: 55px;
}

.summary-conclusion .content-box {
    max-width: 500px;
}

.summary-conclusion .content-box .title p:last-child {
    margin: 30px 0;
    display: block;
    max-width: 320px;
}

.summary-conclusion .notice-box {
    padding: 20px 30px;
    border: 1px solid var(--acent-color-green);
    background-color: rgba(0,189,144, .1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.summary-conclusion .notice-box img {
    max-width: 43px;
    max-height: 48px;
    margin-right: 30px;
}

.summary-conclusion .notice-box p {
    margin: 0;
}

.summary-conclusion .notice-box p:first-child {
    margin-bottom: 10px;
}

.summary-conclusion .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-conclusion .container .diagram-box {
    max-width: 600px;
}

.summary-conclusion .diagram-box .data {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 30px;
}

.summary-conclusion .diagram-box .data img {
    width: 47px;
    height: 47px;
    margin-right: 23px;
}

.summary-conclusion .diagram-box .data .content {
    width: 100%;
    justify-content: space-between;
}

.summary-conclusion .diagram-box .data p {
    margin-bottom: 0;
}

.summary-conclusion .diagram-box .data .content p:first-child {
    margin-bottom: 15px;
}

.summary-days {
    margin-top: 100px;
}

.summary-days .days-box-container .header {
    padding: 33px;
    border-radius: 10px;
    background-color: rgba(0,189,144, .1);
}

.summary-days .days-box-container .description {
    padding: 37px 53px;
}

.summary-days .days-box-container .description p:first-child {
    margin-bottom: 20px;
}

.summary-days .days-box-container, .summary-days .benefits-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.summary-days .day {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 30%;
}

.summary-days .benefits-box .benefit {
    padding: 45px 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 24%;
}

.summary-days .benefits-box {
    margin-bottom: 100px;
}

.active-users {
    margin-top: 100px;
}

.active-users .users-block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.active-users .user {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 23%;
}

.active-users .img-box {
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.active-users .img-box img {
    width: 100%;
}

.active-users .star-box img:not(:last-child){
    margin-right: 10px;
}

.active-users .star-box {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.active-users button {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
}

.doctor-block.xl img {
    max-width: 100%;
    min-width: 660px;
}

.summary-conclusion.adaptive {
    display: none;
}

.active-users .carousel.adaptive {
    display: none;
}

header.summary img.adaptive {
    display: none;
}

section .stepper-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.point-item-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0 20px;
}

.point-item-box p {
    margin: 0;
    display: block;
}

.point-item-box p.name {
    position: absolute;
    bottom: -20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.point-item-box.disabled p.name {
    color: var(--light-grey-color);
}

.point-item-box.disabled .point-item, .stepper-box .line.disabled {
    background-color: var(--light-grey-color);
}

.point-item {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--acent-color-green);
    margin-bottom: 20px;
}

.stepper-box .line {
    width: 100%;
    height: 5px;
    background-color: var(--acent-color-green);
    margin-bottom: 20px;
}

.payment-box {
    min-width: 545px;
    width: 545px;
    margin-right: 100px;
}

.payment-section .content-box {
    display: flex;
}

.payment-box .accordion-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

.payment-box .accordion-button::after {
    display: none;
}

.payment-box .accordion-button label {
    padding: 20px;
}

.payment-box .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.payment-box .accordion-button label .icon img:not(:last-child) {
    margin-right: 10px;
}

.payment-box .row-item p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 0;
}

.payment-box .yellow-payment-btn {
    width: 100%;
    background: #FFC339;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.payment-section .inf-box .item:first-child {
    margin-bottom: 40px;
}

.payment-section .inf-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-section .inf-box .item img {
    margin-right: 30px;
}

.payment-section .inf-box .item p {
    margin: 0;
}

.payment-box .accordion-button label {
    position: relative;
}

.payment-box .accordion-button[aria-expanded='true'] label:after, .payment-box .row-item.line-after:after {
    content:'';
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--light-grey-color);
    position: absolute;
    bottom: 0;
    left: 20px;
}

.payment-box .row-item.line-after:after {
    bottom: -20px;
    width: 100%;
    left: 0;
}

.payment-box .row-item.line-after {
    margin-bottom: 50px;
}

.payment-box .form .form-row input {
    border: 1px solid rgba(28, 28, 28, .5);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.payment-box .green-payment-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--acent-color-green);
    border-right: 10px;
    margin-top: 30px;
}

.payment-box .accordion-body {
    padding: 0 20px 20px 20px;
}
section.main-page .inf-box {
    max-width: 500px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

section h1 {
    margin-bottom: 30px;
}

section .description {
    margin-bottom: 40px;
}

section.main-page .bg-image-absolute {
    position: absolute;
    top: 0;
    right: -20%;
}

section.main-page .bg-image-absolute img{
    border-radius: 20px;
}

.box-item {
    background-color: white;
    padding: 40px 35px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    min-height: 100%;
}

.box-item > div {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.plan {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.plan p {
    margin: 0;
}

.plan .icon-box {
    margin-right: 30px;
}

.plan .title {
    min-width: 200px;
    margin-right: 30px;
}

.section .plan .description {
    margin: 0;
}

.section .box {
    padding: 63px 50px;
    position: relative;
}

.section .box .title-box {
    max-width: 600px;
}

.section .box .img-box {
    position: absolute;
    top: 0;
    right: 0;
}

.section .form-container {
    margin-top: 50px;
    width: 100%;
    max-width: 930px;
}

.section .form-container input, .section .form-container textarea {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: transparent;
    outline: none;
    max-width: 455px;
    width: 50%;
    padding: 13px 20px;
    resize: none;
}

.section .form-container .form-row {
    margin-bottom: 20px;
}

.section .form-container .form-row:last-child {
    margin-bottom: 40px;
}

.section .form-row textarea {
    width: 100%;
    max-width: 100%;
    height: 105px;
}

.section .clients-item {
    padding: 20px;
    width: 100%;
    max-width: 370px;
}

.section .clients-item:not(:last-child) {
    margin-right: 30px;
}

.section .clients-item p{
    margin: 0;
}

.section .clients-item .avatar-box {
    width: 100%;
    max-width: 72px;
    height: 66px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 15px;
}

.section .clients-item .avatar-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}

.section .clients-inf {
    margin-bottom: 10px;
}

.section .clients-item .name {
    margin-bottom: 5px;
}

.section .clients-inf .star-box img:not(:last-child){
    margin-right: 6px;
}

.section .carousel-indicators {
    position: relative;
}

.section .carousel-inner {
    padding: 20px 0;
}

.section .dot, .active-users .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
    cursor: pointer;
}

.section.clients .dot:not(:last-child), .active-users .dot:not(:last-child) {
    margin-right: 40px;
}

.section .dot.active {
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.section .arrow-right {
    transform: rotate(180deg);
}

.section .arrow-right,.section .arrow-left {
    cursor: pointer;
}

.carousel-navigation {
    display: flex;
    justify-content: space-between;
}

.carousel-navigation .carousel-indicators {
    margin-bottom: 0;
}

.carousel-navigation .carousel-control-prev {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.carousel-navigation .carousel-control-next {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.carousel.adaptive {
    display: none;
}
.section.quizz-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 100%;
    max-width: 956px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.quizz-box .navigation-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section.quizz-box .close-button {
    width: 15px;
    height: 15px;
    overflow: hidden;
    transform: matrix(1, 0, 0, -1, 0, 0);
    position: relative;
    cursor: pointer;
    align-self: flex-end;
}

.section.quizz-box .close-button.adaptive {
    display: none;
}

.section.quizz-box .close-button img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section.quizz-box .navigation-box .dot-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.quizz-box .navigation-box .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: .5px solid var(--grey-color);
    cursor: pointer;
    margin-bottom: 3px;
}

.section.quizz-box .dots-box {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.section.quizz-box .navigation-box .dot-item:not(:last-child) {
    margin-right: 12px;
}

.section.quizz-box .navigation-box .dot-item.active .dot{
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.section.quizz-box .title-box {
    width: 100%;
    max-width: 405px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.section.quizz-box .title-box.full-width, .section.quizz-box .action-box.full-width {
    max-width: 80%;
}

.section.quizz-box .action-box.full-width input {
    max-width: 580px;
}

.section.quizz-box .title-box .description {
    margin-top: 16px;
}

.section.quizz-box .title-box h2 {
    margin: 16px 0;
}

.section.quizz-box .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.section.quizz-box .content-box .option {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px 20px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
}

.section.quizz-box .content-box .option p {
    margin: 0;
}

.click {
    border: 2px solid var(--acent-color-green);
}

.section.quizz-box .content-box .option img {
    border-radius: 20px;
}

.section.quizz-box .content-box .option .img-box {
    margin-bottom: 13px;
}

.options-between {
    flex-wrap: nowrap;
    justify-content: center;
}

/*.section.quizz-box .content-box .option:not(:last-child) {*/
/*    margin-right: 20px;*/
/*}*/

.section.quizz-box .action-box {
    width: 100%;
    max-width: 600px;
}

.section.quizz-box .quizz-btn {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 13px 0;
}

.section.quizz-box .quizz-btn:hover, .section.quizz-box .quizz-btn:focus {
    background: var(--acent-color-green);
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.section.quizz-box .quizz-btn:not(:last-child) {
    margin-bottom: 16px;
}

.section.quizz-box .exit-btn {
    border-radius: 10px;
    align-self: flex-start;
    position: relative;
    overflow: hidden;
}

.section.quizz-box .exit-btn:after {
    display: block;
    content: '';
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #C5C5C5;
}

.section.quizz-box .form-container {
    margin: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.quizz-navigation-adaptive {
    display: none;
}

.close-button.adaptive {
    display: none;
}

.answer-btn.active {
    border: 2px solid var(--acent-color-green);
}



    @media (max-width: 768px) {
        .font-white-600, .font-accent-600 {
            font-size: 12px;
            line-height: 14px;
        }

        .font-grey-color-700 {
            font-size: 26px;
            line-height: 30px;
        }

        section.main-page .bg-image-absolute.img-box, section.get-section .box .img-box {
            max-width: 330px;
        }

        section.main-page h1 {
            margin-bottom: 20px;
        }

        section.main-page .description {
            margin-bottom: 50px;
        }

        .font-grey-color-400 {
            font-size: 14px;
            line-height: 20px;
        }

        .font-accent-700 {
            font-size: 14px;
            line-height: 17px;
            /*color: var(--acent-color-green);*/
            /*font-weight: 700;*/
        }

        .font-grey-32-700 {
            font-size: 20px;
            line-height: 26px;
        }

        .section.first-section {
            margin-top: 40px;
        }

        .section {
            margin-top: 60px;
            padding: 40px 0;
        }

        .box-item {
            padding: 30px 20px;
        }

        .section .title-box > h2 {
            margin-bottom: 20px;
        }

        .plan {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 20px;
        }

        .plan .icon-box {
            margin-right: 0;
        }

        .plan .title {
            margin: 10px 0;
        }

        .plans button {
            display: block;
            margin: 0 auto;
        }

        .section .box {
            padding: 30px;
        }

        .section .clients-item .avatar-box {
            width: 60px;
            height: 60px;
        }

        .font-grey-16-700 {
            font-size: 14px;
            line-height: 17px;
        }

        .font-accent-40-700 {
            font-size: 22px;
            line-height: 27px;
        }

        .active-users .carousel.adaptive .clients-item .user {
            width: 60%;
        }

        header.summary img {
            display: none;
        }

        header.summary img.adaptive {
            display: block;
        }
    }

    @media (max-width: 992px) {

        .active-users .users-block {
            display: none;
        }

        .active-users .carousel.adaptive {
            display: block;
        }

        .active-users .carousel.adaptive .clients-item {
            padding: 10px;
        }

        .active-users .carousel.adaptive .clients-item .user {
            margin: 0 auto;
        }

        .active-users .carousel.adaptive .img-box {
            width: 100%;
        }

        .doctor-block.xl img {
            min-width: 100%;
        }


        .quizz-navigation-adaptive {
            display: flex;
            margin-top: 20px;
        }

        .quizz-navigation-adaptive .arrow-left {
            margin-right: 20px;
        }

        .quizz-navigation-adaptive .arrow-right img {
            transform: rotate(180deg);
        }

        .close-button {
            display: none;
        }

        .close-button.adaptive {
            display: flex;
            position: absolute;
            top: 30px;
            right: 17px;
            align-items: center;
        }

        .close-button.adaptive img{
            margin-right: 10px;
        }

        .container-box {
            padding: 67px 17px 87px;
            flex-direction: column;
        }

        .btn-green-squre, .btn-white-squre {
            padding: 12px 30px;
        }

        .btn-green-circle {
            padding: 5px 20px;
            border-radius: 5px;
        }

        .fullscreen-header {
            display: none;
        }

        .header .adaptive-header {
            display: block;
            position: relative;
        }

        .header {
            background: #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
        }

        header .header-box {
            justify-content: space-between;
        }

        header .adaptive-header .navbar-toggler {
            border: none!important;
        }

        header .logo-container{
            display: none!important;
        }

        .header .adaptive-header .navbar-toggler, .header .adaptive-header .navbar-toggler span {
            outline: none;
            box-shadow: none;
        }

        .header .adaptive-header .navbar-toggler {
            padding: 0;
        }

        .header .adaptive-header .actions {
            position: absolute;
            top: 0;
            right: 0;
        }

        .header .adaptive-header .navbar-collapse {
            margin-top: 20px;
        }

        .header .adaptive-header .navbar-collapse .nav-item:not(:last-child) {
            margin-bottom: 10px;
        }

        .get-in-touch .form-container .form-row {
            flex-direction: column;
        }

        .get-in-touch .form-container .form-row:not(:last-child) input {
            max-width: 100%;
            width: 100%;
        }

        .get-in-touch .form-container .form-row:not(:last-child) input:first-child {
            margin-bottom: 20px;
        }

        footer .logo-box {
            flex-direction: column;
        }

        footer .logo-container {
            margin-bottom: 30px;
        }

        footer .nav-item {
            margin-bottom: 20px;
        }

        footer .nav-menu {
            margin-left: 0;
        }

        footer .navbar-nav {
            flex-direction: column;
        }

        footer .navbar-container {
            align-items: flex-start;
        }

        .bg-bottom-right, .bg-bottom-left {
            display: none;
        }

        .carousel {
            display: none;
        }

        .carousel.adaptive {
            display: block;
        }

        .active-users .carousel.adaptive .carousel-indicators {
            bottom: -30px;
        }

        .active-users {
            margin-bottom: 80px;
        }

        .carousel-indicators {
            margin-left: 0;
            margin-right: 0;
        }

        .section.clients .dot:not(:last-child), .active-users .dot:not(:last-child) {
            margin-right: 20px;
        }

        .carousel-navigation {
            justify-content: center;
        }

        .adaptive-display-none {
            display: none;
        }

        .height-auto-adaptive {
            height: auto !important;
        }

        .section.quizz-box .content-box .option {
            max-width: 30%;
        }

        .time-section {
            flex-direction: column;
            max-width: 90%;
            margin: 20px auto 0 auto;
        }

        .time-section p {
            margin-bottom: 12px;
        }

        .plans-box button.w-100 {
            margin-top: 20px;
            width: auto!important;
        }

        .plan-selection {
            margin-top: 40px;
        }

        .plan-selection .title-box.main {
            margin-bottom: 30px;
        }

        .font-white-700 {
            font-size: 20px;
            line-height: 26px;
        }

        .font-light-accent-700 {
            font-size: 12px;
            line-height: 15px;
        }

        .plan-selection .plans .title-box {
            display: none;
        }

        .plan-selection .plan:not(:last-child) {
            margin-bottom: 20px;
        }

        .plan-selection .plan.active:before {
            width: 176px;
            height: 24px;
            font-size: 10px;
            line-height: 13px;
        }

        .plan-selection .plan .row-inf:not(:last-child), .plan-selection .plan .row-inf:not(:last-child) {
            margin-bottom: 5px;
        }

        .doctor-block {
            margin-top: 30px!important;
        }

        .doctor-block h2 {
            text-align: center;
            margin-bottom: 30px;
        }

        .doctor-block .container-wrapper {
            flex-direction: column;
        }

        .doctor-block .content-box {
            margin-left: 0;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .doctor-block button {
            margin-top: 20px;
        }

        .section.last-section, .last-section {
            margin-bottom: 60px;
        }
    }

    @media (max-width: 1200px) {
        section.main-page .container, .get-section .box {
            flex-direction: column-reverse;
            display: flex;
        }

        section.main-page .bg-image-absolute {
            position: relative;
        }

        section.main-page .bg-image-absolute, .get-section .box .img-box {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            display: block;
            top: 0;
            right: 0;
            left: 0;
            position: relative;
        }

        section.main-page .bg-image-absolute img, .get-section .box .img-box img {
            width: 100%;
        }

        section.main-page .inf-box {
            max-width: 100%;
            text-align: center;
            align-items: center;
            height: auto;
            margin-top: 30px;
        }

        .box-item {
            width: 100%;
        }

        .box-item:not(:last-child) {
            margin-bottom: 20px;
        }

        .box-container {
            flex-wrap: wrap;
        }

        .get-section .box .title-box {
            width: 100%;
            max-width: 100%;
            margin-top: 30px;
        }

        .clients-box .navigation {
            justify-content: center !important;
        }

        .navigation .arrow-left, .navigation .arrow-right {
            display: none;
        }

        .clients-box .clients-item {
            width: 100%;
            max-width: 100%;
        }

        section .title-box {
            text-align: center;
            margin-bottom: 30px;
        }

        .clients .title-box h2, .clients .title-box h2 {
            margin-bottom: 20px;
        }

        .get-in-touch img {
            display: none;
        }

        .get-in-touch .title-box {
            text-align: center;
        }

        .get-in-touch .form-container {
            max-width: 100%;
            margin-top: 0;
        }

        .get-in-touch button {
            margin: 0 auto;
            display: block;
        }

        .section.quizz-box .content-box .option img {
            max-width: 100%;
        }

        .plan-selection .content-wrapper {
            flex-direction: column;
        }

        .plan-selection .content-wrapper .plans {
            margin-right: 0;
            margin-bottom: 40px;
        }

        .summary-conclusion {
            display: none;
        }

        .summary-conclusion.adaptive {
            display: flex;
        }

        .summary-conclusion.adaptive .container {
            flex-direction: column;
        }

        .summary-conclusion.adaptive .content-box, .summary-conclusion .container .diagram-box {
            max-width: 100%;
            width: 100%;
        }

        .summary-conclusion.adaptive .title {
            text-align: center;
        }

        .summary-conclusion.adaptive .content-box .title p:last-child {
            max-width: 100%;
        }

        .summary-conclusion.adaptive .notice-box, .summary-conclusion .diagram-box .data {
            width: 60% !important;
            margin: 0 auto 20px;
        }

        .summary-conclusion.adaptive .content-box button {
            margin: 20px auto;
            display: block;
        }

        .summary-conclusion.adaptive .diagram {
            width: 100%!important;
        }

        .summary-days .days-box-container, .summary-days .benefits-box {
            flex-direction: column;
            margin: 0;
        }

        .summary-days .days-box-container .day, .summary-days .benefits-box .benefit {
            margin-bottom: 20px;
            width: 100%;
            max-width: 100%;
        }

        .active-users .user {
            width: 48%;
            margin-bottom: 20px;
        }

        .active-users .users-block {
            flex-wrap: wrap;
        }


    }
    @media (max-width: 1400px) {
    }

    @media (max-width: 576px) {
        .options-body {
            flex-direction: column;
        }

        .options-body .option:first-child {
            margin-bottom: 20px;
        }

        .container-box {
            height: auto;
            padding-bottom: 30px;
        }

        .section.quizz-box .content-box {
            margin: 0;
        }

        .section.quizz-box .content-box .option:not(:last-child) {
            margin-right: 0;
        }

        .container-box .bg-image-adaptive-top-left {
            position: absolute;
            top: 0;
            left: 17px;
        }

        .bg-bottom-center-adaptive {
            max-width: 200px;
            align-self: center;
            display: block;
            margin-top: 15px;
        }

        .btn.exit-btn {
            display: none;
        }

        .plan-selection .plan {
            padding: 17px;
        }

        .active-users .carousel.adaptive .clients-item .user, .summary-conclusion.adaptive .notice-box, .summary-conclusion .diagram-box .data {
            width: 100% !important;
        }

        .font-accent-30-700 {
            font-size: 20px;
            line-height: 25px;
        }

        .header.summary {
            padding: 22px 8px;
        }

        .header.summary img {
            width: 130px;
        }


        .header.summary button {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

