@media (max-width: 768px) {
    .font-white-600, .font-accent-600 {
        font-size: 12px;
        line-height: 14px;
    }

    .font-grey-color-700 {
        font-size: 26px;
        line-height: 30px;
    }

    section.main-page .bg-image-absolute.img-box, section.get-section .box .img-box {
        max-width: 330px;
    }

    section.main-page h1 {
        margin-bottom: 20px;
    }

    section.main-page .description {
        margin-bottom: 50px;
    }

    .font-grey-color-400 {
        font-size: 14px;
        line-height: 20px;
    }

    .font-accent-700 {
        font-size: 14px;
        line-height: 17px;
        /*color: var(--acent-color-green);*/
        /*font-weight: 700;*/
    }

    .font-grey-32-700 {
        font-size: 20px;
        line-height: 26px;
    }

    .section.first-section {
        margin-top: 40px;
    }

    .section {
        margin-top: 60px;
        padding: 40px 0;
    }

    .box-item {
        padding: 30px 20px;
    }

    .section .title-box > h2 {
        margin-bottom: 20px;
    }

    .plan {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .plan .icon-box {
        margin-right: 0;
    }

    .plan .title {
        margin: 10px 0;
    }

    .plans button {
        display: block;
        margin: 0 auto;
    }

    .section .box {
        padding: 30px;
    }

    .section .clients-item .avatar-box {
        width: 72px;
        height: 72px;
        border-radius: 16px;
    }

    .font-grey-16-700 {
        font-size: 14px;
        line-height: 17px;
    }

    .font-accent-40-700 {
        font-size: 22px;
        line-height: 27px;
    }

    .active-users .carousel.adaptive .clients-item .user {
        width: 60%;
    }

    header.summary img {
        display: none;
        width: 272px;
    }

    header.summary img.adaptive {
        display: block;
    }

    .font-light-grey-700 {
        font-size: 16px;
        line-height: 20px;
    }

    .font-dark-grey-700 {
        font-size: 26px;
        line-height: 32px;
    }

    .diagram-box .diagram .inf-box {
        max-width: 220px;
        white-space: normal;
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .diagram-box .diagram img.adaptive {
        display: block;
    }

    .diagram-box .diagram {
        max-width: 340px;
    }

    .diagram-box .diagram .days-container {
        height: 26%;
    }

    .diagram-box .diagram img {
        display: none;
    }

    .diagram-box .diagram .today-box {
        bottom: 75px;
    }
}

@media (max-width: 992px) {

    .diagram-box .diagram .days-box {
        padding: 20px;
    }

    .active-users .users-block {
        display: none;
    }

    .active-users .carousel.adaptive {
        display: block;
    }

    .active-users .carousel.adaptive .clients-item {
        padding: 10px;
    }

    .active-users .carousel.adaptive .clients-item .user {
        margin: 0 auto;
    }

    .active-users .carousel.adaptive .img-box {
        width: 100%;
    }

    .doctor-block.xl img {
        min-width: 100%;
    }


    .quizz-navigation-adaptive {
        display: flex;
        margin-top: 20px;
    }

    .quizz-navigation-adaptive .arrow-left {
        margin-right: 20px;
    }

    .quizz-navigation-adaptive .arrow-right img {
        transform: rotate(180deg);
    }

    .close-button {
        display: none;
    }

    .close-button.adaptive {
        display: flex;
        position: absolute;
        top: 30px;
        right: 17px;
        align-items: center;
    }

    .close-button.adaptive img{
        margin-right: 10px;
    }

    .container-box {
        padding: 67px 17px 87px;
        flex-direction: column;
    }

    .btn-green-squre, .btn-white-squre {
        padding: 12px 30px;
    }

    .btn-green-circle {
        padding: 5px 20px;
        border-radius: 5px;
    }

    .fullscreen-header {
        display: none;
    }

    .header .adaptive-header {
        display: block;
        position: relative;
    }

    .header {
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 20px;
        padding: 20px;
    }

    header .header-box {
        justify-content: space-between;
    }

    header .adaptive-header .navbar-toggler {
        border: none!important;
    }

    header .logo-container{
        display: none!important;
    }

    .header .adaptive-header .navbar-toggler, .header .adaptive-header .navbar-toggler span {
        outline: none;
        box-shadow: none;
    }

    .header .adaptive-header .navbar-toggler {
        padding: 0;
    }

    .header .adaptive-header .actions {
        position: absolute;
        top: 0;
        right: 0;
    }

    .header .adaptive-header .navbar-collapse {
        margin-top: 20px;
    }

    .header .adaptive-header .navbar-collapse .nav-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .get-in-touch .form-container .form-row {
        flex-direction: column;
    }

    .get-in-touch .form-container .form-row:not(:last-child) input {
        max-width: 100%;
        width: 100%;
    }

    .get-in-touch .form-container .form-row:not(:last-child) input:first-child {
        margin-bottom: 20px;
    }

    footer .logo-box {
        flex-direction: column;
    }

    footer .logo-container {
        margin-bottom: 30px;
    }

    footer .nav-item {
        margin-bottom: 20px;
    }

    footer .nav-menu {
        margin-left: 0;
    }

    footer .navbar-nav {
        flex-direction: column;
    }

    footer .navbar-container {
        align-items: flex-start;
    }

    .carousel {
        display: none;
    }

    .carousel.adaptive {
        display: block;
    }

    .active-users .carousel.adaptive .carousel-indicators {
        bottom: -30px;
    }

    .active-users {
        margin-bottom: 80px;
    }

    .carousel-indicators {
        margin-left: 0;
        margin-right: 0;
    }

    .section.clients .dot:not(:last-child), .active-users .dot:not(:last-child) {
        margin-right: 20px;
    }

    .carousel-navigation {
        justify-content: center;
    }

    .adaptive-display-none {
        display: none;
    }

    .height-auto-adaptive {
        height: auto !important;
    }

    .section.quizz-box .content-box .option {
        max-width: 100%;
    }

    .time-section {
        flex-direction: column;
        max-width: 90%;
        margin: 20px auto 0 auto;
    }

    .time-section p {
        margin-bottom: 12px;
    }

    .plans-box button.w-100 {
        margin-top: 20px;
        width: auto!important;
    }

    .plan-selection {
        margin-top: 40px;
    }

    .plan-selection .title-box.main {
        margin-bottom: 30px;
    }

    .font-white-700 {
        font-size: 20px;
        line-height: 26px;
    }

    .font-light-accent-700 {
        font-size: 12px;
        line-height: 15px;
    }

    .plan-selection .plans .title-box {
        display: none;
    }

    .plan-selection .plan:not(:last-child) {
        margin-bottom: 20px;
    }

    .discount {
        width: 176px;
        height: 24px;
        font-size: 10px;
        line-height: 13px;
    }

    .plan-selection .plan .row-inf:not(:last-child), .plan-selection .plan .row-inf:not(:last-child) {
        margin-bottom: 5px;
    }

    .doctor-block {
        margin-top: 30px!important;
    }

    .doctor-block h2 {
        text-align: center;
        margin-bottom: 30px;
    }

    .doctor-block .container-wrapper {
        flex-direction: column;
    }

    .doctor-block .content-box {
        margin-left: 0;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .doctor-block button {
        margin-top: 20px;
    }

    .section.last-section, .last-section {
        margin-bottom: 60px;
    }

    .payment-section .content-box {
        flex-direction: column;
        justify-content: center;
    }

    .payment-box {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .payment-section .inf-box {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .payment-section .inf-box .item:first-child {
        margin-bottom: 20px;
    }

    .program .img-box img.adaptive {
        display: block;
    }

    .program .img-box img {
        display: none;
    }

    }

@media (max-width: 1200px) {
    section.main-page .container, .get-section .box {
        flex-direction: column-reverse;
        display: flex;
    }

    section.main-page .bg-image-absolute {
        position: relative;
    }

    section.main-page .bg-image-absolute, .get-section .box .img-box {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        display: block;
        top: 0;
        right: 0;
        left: 0;
        position: relative;
    }

    section.main-page .bg-image-absolute img, .get-section .box .img-box img {
        width: 80%;
    }

    section.main-page .inf-box {
        max-width: 100%;
        text-align: center;
        align-items: center;
        height: auto;
        margin-top: 30px;
    }

    .box-item {
        width: 100%;
    }

    .box-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .box-container {
        flex-wrap: wrap;
    }

    .get-section .box .title-box {
        width: 100%;
        max-width: 100%;
        margin-top: 30px;
    }

    .clients-box .navigation {
        justify-content: center !important;
    }

    .navigation .arrow-left, .navigation .arrow-right {
        display: none;
    }

    .clients-box .clients-item {
        width: 100%;
        max-width: 100%;
    }

    section .title-box {
        text-align: center;
        margin-bottom: 30px;
    }

    .clients .title-box h2, .clients .title-box h2 {
        margin-bottom: 20px;
    }

    .get-in-touch img {
        display: none;
    }

    .get-in-touch .title-box {
        text-align: center;
    }

    .get-in-touch .form-container {
        max-width: 100%;
        margin-top: 0;
    }

    .get-in-touch button {
        margin: 0 auto;
        display: block;
    }

    .section.quizz-box .content-box .option img {
        max-width: 100%;
    }

    .plan-selection .content-wrapper {
        flex-direction: column;
    }

    .plan-selection .content-wrapper .plan_includes {
        margin-bottom: 40px;
    }

    .plan-selection .content-wrapper .readmore {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plan-selection .content-wrapper .readmore p {
        margin-bottom: 0;
        display: block;
        cursor: pointer;
    }


    .plan-selection .content-wrapper .readmore img {
        margin-left: 10px;
    }


    .plan-selection .plans-include-wrapper .checkbox-box.adaptive {
        display: none;
    }

    .plan-selection .content-wrapper .plans {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .summary-conclusion {
        display: none;
    }

    .summary-conclusion.adaptive {
        display: flex;
    }

    .summary-conclusion.adaptive .container {
        flex-direction: column;
    }

    .summary-conclusion.adaptive .content-box, .summary-conclusion .container .diagram-box {
        max-width: 100%;
        width: 100%;
    }

    .summary-conclusion.adaptive .title {
        text-align: center;
    }

    .summary-conclusion.adaptive .content-box .title p:last-child {
        max-width: 100%;
    }

    .summary-conclusion.adaptive .notice-box, .summary-conclusion .diagram-box .data {
        width: 60% !important;
        margin: 0 auto 20px;
    }

    .summary-conclusion.adaptive .content-box button {
        margin: 20px auto;
        display: block;
    }

    .summary-conclusion.adaptive .diagram {
        width: 100%!important;
        margin: 0 auto;
    }

    .summary-days .days-box-container, .summary-days .benefits-box {
        flex-direction: column;
        margin: 0;
    }

    .summary-days .days-box-container .day, .summary-days .benefits-box .benefit {
        margin-bottom: 20px;
        width: 100%;
        max-width: 100%;
    }

    .active-users .user {
        width: 48%;
        margin-bottom: 20px;
    }

    .active-users .users-block {
        flex-wrap: wrap;
    }


    footer.fixed {
        position: static;
    }

    .point-item-box p.name {
        left: 0;
    }

    .font-accent-18-700, .font-white-26-700 {
        font-size: 16px;
        line-height: 20px;
    }

    .point-item {
        width: 35px;
        height: 35px;
    }

    .stepper-box .line {
        height: 2px;
    }

    .program .container {
        flex-direction: column-reverse;
    }

    .program .content-box {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .graphic .container {
        flex-direction: column;
        align-items: center;
    }

    .graphic .container .block {
        /*max-width: 100%;*/
        text-align: center;
        align-items: center;
        margin-bottom: 20px;
    }

}

@media (max-width: 1400px) {
}

@media (max-width: 576px) {

    .graphic .container .block {
        max-width: 100%;
    }

    .graphic .container img {
        display: none;
    }

    .graphic .container img.adaptive {
        display: block;
    }


    .options-body {
        flex-direction: column;
    }

    .options-body .option:first-child {
        margin-bottom: 20px;
    }

    .container-box {
        height: auto;
        padding-bottom: 30px;
    }

    .section.quizz-box .content-box {
        margin: 0;
    }

    .section.quizz-box .content-box .option:not(:last-child) {
        margin-right: 0;
    }

    .container-box .bg-image-adaptive-top-left {
        position: absolute;
        top: 0;
        left: 17px;
    }

    .bg-bottom-center-adaptive {
        max-width: 200px;
        align-self: center;
        display: block;
        margin-top: 15px;
    }

    .btn.exit-btn {
        display: none;
    }

    .plan-selection .plan {
        padding: 17px;
    }

    .active-users .carousel.adaptive .clients-item .user, .summary-conclusion.adaptive .notice-box, .summary-conclusion .diagram-box .data {
        width: 100% !important;
    }

    .font-accent-30-700 {
        font-size: 20px;
        line-height: 25px;
    }

    .header.summary {
        padding: 22px 8px;
    }

    .header.summary img {
        width: 170px;
        height: 25px;
        margin-top: 7px;
    }

    .graphic,
    .program {
        display: none;
    }

    .graphic.adaptive,
    .program.adaptive {
        display: block;
    }


    .header.summary button {
        padding-left: 20px;
        padding-right: 20px;
    }

    .plan-selection .plan.offer:before {
        width: 176px;
        height: 24px;
        font-size: 10px;
        line-height: 13px;
    }

}

@media (max-width: 494px) {
    .summary-header-logo {
        justify-content: center !important;
    }

    .header.summary img {
        width: 250px;
        height: 36px;
        margin-top: 7px;
    }

    .summary-header-btn {
        display: none;
    }

    .section.quizz-box .content-box .option {
        padding: 0px;
    }

    .section.quizz-box {
        padding: 10px;
    }
}

@media (max-width: 300px) {

    .header.summary img {
        height: auto;
        margin-top: 7px;
        width: 200px;
    }
}

