.readmore {
    display: none;
}

.logo-container {
    width: 180px;
}

.logo-container img{
    width: 100%;
}



.section.quizz-box .content-box .option.q-cols {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 15px 3px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 7px;
    width: 30%;
}

@media (max-width: 1200px) {
    .summary-conclusion.adaptive .content-box a {
        margin: 20px auto;
        display: block;
    }
}

/*.line-h-22 {*/
/*    line-height: 22px;*/
/*}*/

.font-white-700-22 {
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}

.font-grey-24-700 {
    color: var(--grey-color);
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}


#carouselAdaptive .dot.active{
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.first-graphic {
    background: url('/assets/bg-images/bg-curious-baby.png') no-repeat !important;
    background-position: bottom 0px right 0px !important;
}

.first-graphic span{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
}

.first-graphic-adaptive {
    background: url('/assets/bg-images/bg-curious-baby-adaptive.png') no-repeat !important;
    background-position: bottom 0px right 0px !important;
}

.first-graphic-adaptive span{
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin-right: 5px;
}

.desktop-logo {
    max-width: 300px;
}

.checkbox-box input:checked + label .custom-checkbox-circle {
    content: '';
    background: url(/assets/icons/check_white.png);
    left: 0;
    top: 0;
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position-x: center;
    background-position-y: 6px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgba(0, 189, 144, 0.6);
}

@media (max-width: 992px) {
    .discount {
        font-size: 10px;
        height: 24px;
        line-height: 13px;
        width: 176px;
    }
}


