.readmore {
    display: none;
}

.logo-container {
    width: 180px;
}

.logo-container img{
    width: 100%;
}

.section.quizz-box .content-box .option.q-cols {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 15px 3px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 7px;
    width: 30%;
}

/*.line-h-22 {*/
/*    line-height: 22px;*/
/*}*/

.font-white-700-22 {
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}

.font-grey-24-700 {
    color: var(--grey-color);
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}


#carouselAdaptive .dot.active{
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.first-graphic {
    background: url('/assets/bg-images/bg-curious-baby.png') no-repeat !important;
    background-position: bottom 0px right 0px !important;
}

.first-graphic span{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    margin-right: 10px;
}

.first-graphic-adaptive {
    background: url('/assets/bg-images/baby-bg-gqa.png') no-repeat !important;
    background-size: 140px 186px !important;
    background-position: bottom 0px right 0px !important;
}

.first-graphic-adaptive span{
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    margin-right: 5px;
}

.desktop-logo {
    max-width: 300px;
}

.checkbox-box input:checked + label .custom-checkbox-circle {
    content: '';
    background: url(/assets/icons/check_white.png);
    left: 0;
    top: 0;
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position-x: center;
    background-position-y: 6px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: rgba(0, 189, 144, 0.6);
}

.light-green-bg {
    background-color: #E6F9F4;
}

.payment-container-congrats {
    max-width: 525px;
    margin: 0 auto;
}

.payment-container-congrats img{
    max-width: 80%;
    margin: 0 auto;
}

.payment-container-congrats h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #1C1C1C;
}

.notice-box-container {
    background: rgba(0, 189, 144, 0.1);
    border: 1px solid #00BD90;
    border-radius: 10px;
    padding: 5px;
    max-width: 525px;
    margin: 0 auto;
}

.notice-box-container h2{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 46px;
    color: #00BD90;
}

.bg-bottom-left-payment {
    position: absolute;
    bottom: 105px;
    left: 0;
    z-index: -1;
    display: block;
}

.payment-row {
    height: 95vh;
}
.e-book-block {
    display: flex;
    flex-direction: row;
}

.payment-e-book {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.payment-e-book h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 46px;
    color: #1C1C1C;
    max-width: 466px;
}

.e-book-phone-section {
    position: relative;
}

.payment-e-book-phone{
    max-width: 300px;
}

.e-book-description {
    width: 250px;
    position: relative;
}

.e-book-price {
    position: absolute;
    bottom: -65px;
}

.e-book-price span {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #00BD90;
}

.e-book-check img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-right: 20px;
}

.e-boo-buy-btn{
    max-width: 600px;
    margin-top: 35px;
}

.e-boo-buy-btn button{
    width: 100%;
}

.payment-e-book-phone-off {
    display: block;
    position: absolute;
    top: -10px;
    right: -20px;
}

.e-boo-buy-btn.adaptive {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.securePaymentImages{
    display: block;
}

.securePaymentImagesMobile{
    display: none;
}

.white-shadow-box-radius-10-custom {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 10px 20px 2px 20px;
    margin-bottom: 20px;
}

.e-book-price.adaptive {
    display: none;
}

.medical-consultant {
    width: 300px;
    border-radius: 10px;
}

.plan.personal-plan .discount{
    display: none;
}

.plan.personal-plan.active .discount{
    display: flex;
}

/*mobile*/

@media (max-width: 1200px) {
    .summary-conclusion.adaptive .content-box a {
        margin: 20px auto;
        display: block;
    }

    .bg-bottom-left-payment {
        display: none;
    }

    .e-book-block {
        display: block;
        text-align: center;
    }

    .e-book-description{
        text-align: start;
        width: 85%;
        margin-top: 20px;
    }

    .payment-e-book {
        display: block;
    }

    .e-book-payment-off {
        display: none;
    }

    .payment-e-book-phone-off {
        display: block;
        position: absolute;
        top: 0;
        right: 20%;
    }

    .payment-e-book h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 156.4%;
        text-align: center;
        color: #1C1C1C;
    }

    .e-book-price {
        display: none;
    }

    .e-boo-buy-btn {
        display: none;
    }

    .e-boo-buy-btn.adaptive {
        display: block;
    }

    .e-book-price.adaptive {
        display: block;
        position: initial;
        text-align: center;
    }

    .securePaymentImages img{
        max-width: 110px;
        height: 31px;
    }
}

@media (max-width: 992px) {
    .discount {
        font-size: 10px;
        height: 24px;
        line-height: 13px;
        width: 176px;
    }

    .payment-row {
        height: auto;
    }

    .payment-container-congrats h2{
        font-size: 24px;
        line-height: 29px;
    }

    .notice-box-container h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    .e-boo-buy-btn{
        width: 100%;
        text-align: center;
    }

    .e-boo-buy-btn button{
        width: 340px;
    }

    .e-book-check img{
        margin-top: 0px;
    }

    .payment-e-book-phone-off {
        right: 10%;
    }

}

@media (max-width: 767px) {
    .bg-bottom-right, .bg-bottom-left {
        display: none;
    }

    .payment-e-book-phone-off {
        right: 20%;
    }

    .baby-img.adaptive {
        display: none;
    }

    .plan_includes {
        display: none;
    }
}

@media (max-width: 576px) {
    .payment-e-book-phone-off {
        right: 0;
    }

    .header {
        padding: 5px 0;
    }

    .securePaymentImages{
        display: none;
    }

    .securePaymentImagesMobile img{
        max-width: 100px;
        margin: 5px;
        height: 31px;
    }

    .securePaymentImagesMobile{
        display: flex;
    }

    .accordion-box.last-section.section {
        margin-top: 0px;
        padding-top: 0;
    }
}
