.readmore {
    display: none;
}

.logo-container {
    width: 180px;
}

.logo-container img{
    width: 100%;
}

.graphic.adaptive,
.program.adaptive {
    display: none;
}

.graphic,
.program {
    display: block;
}

@media (max-width: 576px) {
    .header.summary img {
        width: 170px;
        height: 25px;
        margin-top: 7px;
    }

    .graphic,
    .program {
        display: none;
    }

    .graphic.adaptive,
    .program.adaptive {
        display: block;
    }
}

.section.quizz-box .content-box .option.q-cols {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 15px 3px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 7px;
    width: 30%;
}

@media (max-width: 1200px) {
    .summary-conclusion.adaptive .content-box a {
        margin: 20px auto;
        display: block;
    }
}

/*.line-h-22 {*/
/*    line-height: 22px;*/
/*}*/

.font-white-700-22 {
    color: white;
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
}

.font-grey-24-700 {
    color: var(--grey-color);
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}


#carouselAdaptive .dot.active{
    border-color: transparent;
    background-color: var(--acent-color-green);
}
