.readmore {
    display: none;
}

.logo-container {
    width: 180px;
}

.logo-container img{
    width: 100%;
}

.graphic.adaptive,
.program.adaptive {
    display: none;
}

.graphic,
.program {
    display: block;
}

@media (max-width: 576px) {
    .header.summary img {
        width: 170px;
        height: 25px;
        margin-top: 7px;
    }

    .graphic,
    .program {
        display: none;
    }

    .graphic.adaptive,
    .program.adaptive {
        display: block;
    }
}

.section.quizz-box .content-box .option.q-cols {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 15px 10px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 7px;
    width: 30%;
}

@media (max-width: 1200px) {
    .summary-conclusion.adaptive .content-box a {
        margin: 20px auto;
        display: block;
    }
}

