section.main-page .inf-box {
    max-width: 550px;
    height: calc(100vh - 211px);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
section.main-page .inf-box .subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}
section h1 {
    margin-bottom: 30px;
}

section.main-page .inf-box h1:first-child {
    margin: 0px !important;
}

section .description {
    margin-bottom: 40px;
    max-width: 300px;
}

.bg-image-absolute {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 0px;
}

section.main-page .bg-image-absolute {
    display: none;
}

.box-item {
    background-color: white;
    padding: 40px 35px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.16);
    min-height: 100%;
}

.box-item > div {
    height: fit-content;
}

.plan {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.plan p {
    margin: 0;
}

.plan .icon-box {
    margin-right: 30px;
}

.plan .title {
    min-width: 200px;
    margin-right: 30px;
}

.section .plan .description {
    margin: 0;
}

.section .box {
    padding: 63px 50px;
    position: relative;
}

.section .box .title-box {
    max-width: 600px;
}

.section .box .img-box {
    position: absolute;
    top: 0;
    right: 0;
}

.section .form-container {
    margin-top: 50px;
    width: 100%;
    max-width: 930px;
}

.section .form-container input,
.section .form-container textarea {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: transparent;
    outline: none;
    max-width: 455px;
    width: 50%;
    padding: 13px 20px;
    resize: none;
    -webkit-appearance: none;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section .form-container .form-row {
    margin-bottom: 20px;
}

.section .form-container .form-row:last-child {
    margin-bottom: 40px;
}

.section .form-row textarea {
    width: 100%;
    max-width: 100%;
    height: 105px;
}

.section .clients-item {
    padding: 20px;
    width: 100%;
    max-width: 370px;
}

.section .clients-item:not(:last-child) {
    margin-right: 30px;
}

.section .clients-item p {
    margin: 0;
}

.section .clients-item .avatar-box {
    width: 100%;
    max-width: 72px;
    height: 66px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 15px;
}

.section .clients-item .avatar-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section .clients-inf {
    margin-bottom: 10px;
}

.section .clients-item .name {
    margin-bottom: 5px;
}

.section .clients-inf .star-box img:not(:last-child) {
    margin-right: 6px;
}

.section .carousel-indicators {
    position: relative;
}

.section .carousel-inner {
    padding: 20px 0;
}

.section .dot,
.active-users .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
    cursor: pointer;
}

.section.clients .dot:not(:last-child),
.active-users .dot:not(:last-child) {
    margin-right: 40px;
}

.section .dot.active {
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.section .arrow-right {
    transform: rotate(180deg);
}

.section .arrow-right,
.section .arrow-left {
    cursor: pointer;
}

.carousel-navigation {
    display: flex;
    justify-content: space-between;
}

.carousel-navigation .carousel-indicators {
    margin-bottom: 0;
}

.carousel-navigation .carousel-control-prev {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.carousel-navigation .carousel-control-next {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.carousel.adaptive {
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.dropdown > button {
    color: white;
    padding: 3px 7px;
    border: 1px solid var(--light-grey-color);
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    padding: 16px;
    margin-top: 5px;
}

.dropdown .dropdown-content ul {
    margin: 0;
    padding: 0;   
}

.dropdown .dropdown-content ul .dropdown-item {
    margin-bottom: 5px;
    
}

.dropdown .dropdown-content ul .dropdown-item span {
    margin-left: 5px;
    
}

.bg-scroll-main {
    background-image: url("/assets/main/web-slide.png");
    background-size: cover;
    animation: scroll-down-up 2000s linear infinite;
    width: 100%;
    height: calc(100vh - 110px);
}

.bg-scroll-mobile {
    background-image: url("/assets/main/mobile-slide.png");
    background-size: cover;
    animation: scroll-right-left 2000s linear infinite;
    width: 100vw;
    height: 100%;
}

@keyframes scroll-down-up {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 10000%;
    }
}

@keyframes scroll-right-left {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10000%, 0;
    }
}

