* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

.wrapper {
    min-height: 100%;
    margin-bottom: -124px;
}

.container-box {
    height: 100vh;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.font-dark-opacity-500 {
    color: var(--dark-font-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    opacity: .5;
}

.font-white-600 {
    color: white;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}

.font-white-400 {
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-white-700 {
    color: white;
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}

.font-white-26-700 {
    color: white;
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.font-white-16-700 {
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-300 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.font-grey-10-300 {
    color: var(--grey-color);
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    opacity: .65;
}

.font-grey-color-700 {
    color: var(--grey-color);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.font-grey-color-400 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-grey-32-700 {
    color: var(--grey-color);
    font-size: 32px;
    line-height: 46px;
    font-weight: 700;
}

.font-grey-18-700 {
    color: var(--grey-color);
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-16-700 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-grey-500 {
    color: var(--light-grey-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.font-light-grey-700 {
    color: var(--light-grey-color);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.font-dark-grey-500 {
    color: var(--grey-color);
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.font-dark-grey-700 {
    color: var(--grey-color);
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.font-accent-color-400 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-grey-16-500 {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.font-accent-600 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.font-accent-700 {
    color: var(--acent-color-green);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.font-accent-40-700 {
    color: var(--acent-color-green);
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.font-accent-30-700 {
    color: var(--acent-color-green);
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
}

.font-light-accent-700 {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    opacity: .5;
}

.font-accent-18-700 {
    color: var(--acent-color-green);
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.btn-green-squre, .btn-green-squre:hover {
    padding: 12px 43px;
    border-radius: 10px;
    background-color: var(--acent-color-green);
    color: white;
}

.btn-white-squre, .btn-white-squre:hover {
    padding: 12px 43px;
    border-radius: 10px;
    background-color: white;
    max-height: 44px;
    color: var(--acent-color-green)
}

.btn-green-circle, .btn-green-circle:hover {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--acent-color-green);
    color: white;
}

/* header footer */

.header, footer {
    padding: 35px 0;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .navbar-nav {
    flex-direction: row;
}

footer .navbar-container {
    align-items: center;
}

.header .adaptive-header {
    display: none;
}

.header ul li:not(:last-child), footer ul li:not(:last-child) {
    margin-right: 60px;
}

.header .navbar {
    padding: 0;
    margin: 0;
}

.header .nav-menu, footer .nav-menu {
    margin-left: 90px;
}

.header .nav-menu .nav-link.active {
    position: relative;
}

.header .nav-menu .nav-link.active::after {
    content: '';
    display: block;
    height: 4px;
    width: 17px;
    border-radius: 6px;
    background-color: var(--acent-color-green);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--grey-color);
}

footer {
    background-color: var(--acent-color-green);
    padding: 40px 0;
}

/* sections */

.section.first-section {
    margin-top: 70px;
}

.section.last-section, .last-section {
    margin-bottom: 110px;
}

.section {
    margin-top: 90px;
    padding: 80px 0;
}

.section .title-box > p {
    margin-bottom: 12px;
}

.section .title-box > h2 {
    margin-bottom: 40px;
}

.section .title-box > h2.mb-20 {
    margin-bottom: 20px;
}

.section .title-box .description {
    margin-bottom: 20px;
}

.accent-section {
    background-color: #CCF2E9;
}

.section .white-shadow-box-radius-10 {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section .bg-image.top-right {
    top: 0;
    right: 0;
    z-index: -1;
}

.bg-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.bg-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.lg-hide-bg-image, .bg-bottom-center-adaptive {
    display: none;
}

.img-center {
    margin: 0 auto;
    display: block;
}

.p-y-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-x-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.d-block {
    display: block;
}

.dark-accent {
    background-color: var(--acent-color-green);
}

.border-radius-10 {
    border-radius: 10px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-100 {
    margin-top: 100px;
}



.time-section {
    justify-content: space-between;
    align-items: center;
}

.time-section p, .time-section span {
    display: block;
    margin: 0;
}

.time-section .dots {
    margin: 0 30px;
}

.doctor-block h2 {
    margin-bottom: 30px;
}

.doctor-block img {
    max-width: 345px;
}

.doctor-block .content-box {
    margin-left: 60px;
}

.doctor-block button {
    margin-top: 35px;
}

.doctor-block .container-wrapper {
    display: flex;
    align-items: center;
}

.accordion-box .accordion-button:not(.collapsed) {
    color: var(--grey-color);
    background-color: white;
    border-color: transparent;
    box-shadow: transparent;
}

.accordion-box .accordion-button {
    outline: none;
    border-color: var(--grey-color);
    box-shadow: var(--grey-color);
}

.accordion-box .accordion-item {
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}

.accordion-box .accordion-item:not(:last-child) {
    margin-bottom: 20px;
}

.accordion-box .title-box {
    margin-bottom: 30px;
}

.plan-selection {
    margin-top: 50px;
}

.plan-selection .title-box {
    margin-bottom: 25px;
}

.plan-selection .title-box.main {
    margin-bottom: 60px;
}

.plan-selection .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.plan-selection .content-wrapper .plans, .plan-selection .content-wrapper .plan_includes {
    flex-shrink: 1;
}

.plan-selection .content-wrapper .plans {
    margin-right: 40px;
}

.plan-selection .plan {
    display: block;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 22px 40px;
    position: relative;
}

.plan-selection .plan.active {
    border: 2px solid #FF725E;
}

.discount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    background-color: #FF725E;
    width: 240px;
    height: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plan-selection .plan:not(:last-child) {
    margin-bottom: 28px;
}

.plan-selection .plan:last-child {
    margin-bottom: 20px;
}

.plan-selection .plan .row-inf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-selection p {
    display: block;
    width: fit-content;
}

.canceled-text {
    text-decoration: line-through;
}

.plan-selection .sales-box>p {
    margin-right: 30px;
}

.plan-selection .plan .row-inf:not(:last-child) {
    margin-bottom: 5px;
}

/*.checkbox-box {*/
/*    display: flex;*/
/*}*/

.checkbox-box label{
    display: flex;
    align-items: center;
}

.checkbox-box label a {
    margin-left: 5px;
}

.checkbox-box .styled-checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox-box label {
     position: relative;
     cursor: pointer;
     padding: 0;
}

.checkbox-box .custom-checkbox {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid var(--acent-color-green);
    border-radius: 2px;
    min-width: 24px;
    min-height: 24px;
}

.checkbox-box input:checked + label .custom-checkbox {
    content: '';
    background: url('/assets/icons/check.png');
    left: 0;
    top: 0;
    width: 24px;
    background-repeat: no-repeat;
    height: 24px;
    background-position-x: center;
    background-position-y: 6px;
}

.checkbox-box label .custom-checkbox.circle {
    border-radius: 50%;
    position: relative;
}

.checkbox-box input:checked + label .custom-checkbox.circle {
    background: none;
}

.checkbox-box input:checked + label .custom-checkbox.circle .circle {
    display: block;
    background: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--light-grey-color);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.checkbox-box .custom-checkbox.circle .circle {
    display: none;
}

.plans-box button{
    margin-top: 20px;
}

 .plans-include-wrapper .checkbox-box:not(:last-child) {
    margin-bottom: 30px;
}

 section.summary p {
     margin: 0;
 }

 .summary-conclusion {
     margin-top: 55px;
 }

 .summary-conclusion .content-box {
     max-width: 498px;
 }

 .summary-conclusion .content-box .title p:last-child {
     margin: 30px 0;
     display: block;
     max-width: 320px;
 }

.notice-box {
     padding: 20px 30px;
     border: 1px solid var(--acent-color-green);
     background-color: rgba(0,189,144, .1);
     border-radius: 10px;
     margin-bottom: 30px;
 }

.notice-box img {
    max-width: 43px;
    max-height: 48px;
    margin-right: 30px;
}

.notice-box p {
    margin: 0;
}

.notice-box p:first-child {
    margin-bottom: 10px;
}

.summary-conclusion .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-conclusion .container .diagram-box {
    max-width: 600px;
}

.summary-conclusion .diagram-box .data {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px 30px;
}

.summary-conclusion .diagram-box .data img {
    width: 47px;
    height: 47px;
    margin-right: 23px;
}

.summary-conclusion .diagram-box .data .content {
    width: 100%;
    justify-content: space-between;
}

.summary-conclusion .diagram-box .data p {
    margin-bottom: 0;
}

.summary-conclusion .diagram-box .data .content p:first-child {
    margin-bottom: 15px;
}

.summary-days {
    margin-top: 100px;
}

.summary-days .days-box-container .header {
    padding: 33px;
    border-radius: 10px;
    background-color: rgba(0,189,144, .1);
}

.summary-days .days-box-container .description {
    padding: 37px 53px;
}

.summary-days .days-box-container .description p:first-child {
    margin-bottom: 20px;
}

.summary-days .days-box-container, .summary-days .benefits-box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}

.summary-days .day {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 30%;
}

.summary-days .benefits-box .benefit {
    padding: 45px 35px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 24%;
}

.summary-days .benefits-box {
    margin-bottom: 30px;
}

.active-users {
    margin-top: 100px;
}

.active-users .users-block {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.active-users .user {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 23%;
}

.active-users .img-box {
    width: 230px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.active-users .img-box img {
    width: 100%;
}

.active-users .star-box img:not(:last-child){
    margin-right: 10px;
}

.active-users .star-box {
    margin: 10px auto;
    width: fit-content;
}

.active-users button {
    margin: 0 auto;
    width: fit-content;
    display: block;
}

.doctor-block.xl img {
    max-width: 100%;
    min-width: 660px;
}

.summary-conclusion.adaptive {
    display: none;
}

.active-users .carousel.adaptive {
    display: none;
}

header.summary img.adaptive {
    display: none;
}

section .stepper-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    /*margin-bottom: 60px;*/
}

.point-item-box {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 0 20px;
}

.point-item-box p {
    margin: 0;
    display: block;
}

.point-item-box p.name {
    position: absolute;
    bottom: -20px;
    width: max-content;
}

.point-item-box.disabled p.name {
    color: var(--light-grey-color);
}

.point-item-box.disabled .point-item, .stepper-box .line.disabled {
    background-color: var(--light-grey-color);
}

.point-item {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--acent-color-green);
    margin-bottom: 20px;
}

.stepper-box .line {
    width: 100%;
    height: 5px;
    background-color: var(--acent-color-green);
    margin-bottom: 20px;
}

.payment-box {
    min-width: 545px;
    width: 545px;
    margin-right: 100px;
}

.payment-section .content-box {
    display: flex;
}

.payment-box .accordion-item {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

.payment-box .accordion-button::after {
    display: none;
}

.payment-box .accordion-button label {
    padding: 20px;
}

.payment-box .accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.payment-box .accordion-button label .icon img:not(:last-child) {
    margin-right: 10px;
}

.payment-box .row-item p {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 0;
}

.payment-box .yellow-payment-btn {
    width: 100%;
    background: #FFC339;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.payment-section .inf-box .item:first-child {
    margin-bottom: 40px;
}

.payment-section .inf-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment-section .inf-box .item img {
    margin-right: 30px;
}

.payment-section .inf-box .item p {
    margin: 0;
}

.payment-box .accordion-button label {
    position: relative;
}

.payment-box .accordion-button[aria-expanded='true'] label:after, .payment-box .row-item.line-after:after {
    content:'';
    display: block;
    width: calc(100% - 40px);
    height: 1px;
    background-color: var(--light-grey-color);
    position: absolute;
    bottom: 0;
    left: 20px;
}

.payment-box .row-item.line-after:after {
    bottom: -20px;
    width: 100%;
    left: 0;
}

.payment-box .row-item.line-after {
    margin-bottom: 50px;
}

.payment-box .form .form-row input {
    border: 1px solid rgba(28, 28, 28, .5);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.payment-box .green-payment-btn {
    width: 100%;
    padding: 10px;
    background-color: var(--acent-color-green);
    border-right: 10px;
    margin-top: 30px;
}

.payment-box .accordion-body {
    padding: 0 20px 20px 20px;
}

.back-block {
    margin-top: 30px;
}

.back-block img {
    margin-right: 20px;
}

.diagram-box .diagram {
    width: fit-content;
    max-width: 600px;
    height: 355px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.diagram-box .diagram .days-container {
    height: 41%;
}

.diagram-box .diagram img {
    max-width: 100%;
}

.diagram-box .diagram img.adaptive {
    display: none;
}

.diagram-box .diagram .img-box {
    position: relative;
}

.diagram-box .diagram .inf-box, .diagram-box .diagram .today-box, .diagram-box .diagram .days-amount-box {
    position: absolute;
}

.diagram-box .diagram .today-box {
    bottom: 50px;
    left: 10px;
}

.diagram-box .diagram .days-amount-box {
    top: -25px;
    right: 10px;
}

.diagram-box .diagram .inf-box {
    bottom: 15px;
    transform: translate(-50%, 0);
    left: 50%;
    width: fit-content;
    display: inline;
    white-space: nowrap;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
}

.diagram-box .diagram .days-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

section.program {
    margin: 100px 0;
}

.program .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.program .content-box {
    width: 100%;
    max-width: 470px;
}

.program .img-box img.adaptive {
    display: none;
}

.program .readmore {
    display: none;
}

.graphic .container {
    display: flex;
    justify-content: space-between;
}

.graphic .container .block {
    width: 100%;
    max-width: 560px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 370px;
}

.graphic .container img {
    width: fit-content;
}

.graphic .container img.remove-paddings {
    width: fit-content;
    margin: 0 -30px -30px -30px;
}

.graphic .container img.adaptive {
    display: none;
}

.summary-header-logo {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.graphic.adaptive,
.program.adaptive {
    display: none;
}

.graphic,
.program {
    display: block;
}

.summary-header-btn {
    display: block;
}





