.section.quizz-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    width: 100%;
    max-width: 956px;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section.quizz-box .navigation-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.section.quizz-box .close-button {
    width: 15px;
    height: 15px;
    overflow: hidden;
    transform: matrix(1, 0, 0, -1, 0, 0);
    position: relative;
    cursor: pointer;
    align-self: flex-end;
}

.section.quizz-box .close-button.adaptive {
    display: none;
}

.section.quizz-box .close-button img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section.quizz-box .navigation-box .dot-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section.quizz-box .navigation-box .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: .5px solid var(--grey-color);
    cursor: pointer;
    margin-bottom: 3px;
}

.section.quizz-box .dots-box {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.section.quizz-box .navigation-box .dot-item:not(:last-child) {
    margin-right: 12px;
}

.section.quizz-box .navigation-box .dot-item.active .dot{
    border-color: transparent;
    background-color: var(--acent-color-green);
}

.section.quizz-box .title-box {
    width: 100%;
    max-width: 405px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.section.quizz-box .title-box.full-width, .section.quizz-box .action-box.full-width {
    max-width: 80%;
}

.section.quizz-box .action-box.full-width input {
    max-width: 580px;
}

.section.quizz-box .title-box .description {
    margin-top: 16px;
}

.section.quizz-box .title-box h2 {
    margin: 16px 0;
}

.section.quizz-box .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.section.quizz-box .content-box .option {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 15px 10px;
    max-width: 175px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    margin: 10px;
}

.section.quizz-box .content-box .option p {
    margin: 0;
}

.click {
    border: 2px solid var(--acent-color-green);
}

.click-red {
    border: 2px solid var(--light-red-color);
}

.click-red img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.section.quizz-box .content-box .option img {
    border-radius: 20px;
}

.section.quizz-box .content-box .option .img-box {
    margin-bottom: 13px;
}

.options-between {
    flex-wrap: nowrap;
    justify-content: center;
}

/*.section.quizz-box .content-box .option:not(:last-child) {*/
/*    margin-right: 20px;*/
/*}*/

.section.quizz-box .action-box {
    width: 100%;
    max-width: 600px;
}

.section.quizz-box .quizz-btn, .quiz-btn {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 13px 0;
    outline: none;
    border: none;
    color: #000;
}

.section.quizz-box .quizz-btn:hover, .quiz-btn.single-btn:hover {
    border-width: 0px;
    border-color: rgba(255,255,255,0);
    outline: none;
}

@media (hover) {
    .section.quizz-box .quizz-btn:hover, .quiz-btn.single-btn:hover {
        background: var(--acent-color-green);
        outline: none;
        color: white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}


.section.quizz-box .quizz-btn:not(:last-child), .quiz-btn:not(:last-child) {
    margin-bottom: 16px;
}

.section.quizz-box .exit-btn {
    border-radius: 10px;
    align-self: flex-start;
    position: relative;
    overflow: hidden;
}

.section.quizz-box .exit-btn:after {
    display: block;
    content: '';
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #C5C5C5;
}

.section.quizz-box .form-container {
    margin: 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.quizz-navigation-adaptive {
    display: none;
}

.close-button.adaptive {
    display: none;
}

.answer-btn.active {
    border: 2px solid var(--acent-color-green);
}


/*NEW QUIZ*/

.quiz-card {
    max-width: 800px;
}

.quiz-arrow {
    font-size: 22px;
    font-weight: 800;
    cursor: pointer;
}

.question-number {
    background: var(--acent-color-green);
}

.question-number-counter {
    font-size: 18px;
    color: var(--acent-color-green);
}

.quiz-btn.active {
    border: 2px solid var(--acent-color-green);
}

.pointer {
    cursor: pointer;
}

.continue-btn {
    font-size: 18px;
    text-transform: uppercase;
}

.quiz-loader img{
    max-width: 300px;
}

.btn-no {
    background: var(--light-red-color);
    color: #fff;
}

.btn-undecided {
    background: var(--light-blue-color);
    color: #fff;
}

.btn-yes {
    background: var(--acent-color-green);
    color: #fff;
}

.click-green {
    background: var(--acent-color-green);
    outline: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#myBar {
    border-radius: 5px;
    height: 25px;
    background-color: var(--acent-color-green);
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 25px; /* To center it vertically */
    color: white;
}

.quiz-card .container img {
    width: 150px;
}