.big-section {
    margin: 50px 0;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 30px;
}

.what-will-items {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*!*justify-items: start;*!*/
    gap: 30px;
}

.what-will-item {
    width: 370px;
    height: 309px;
    border-radius: 20px;
    background: url('/assets/summary/whatwill/bg-filtered.png') no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    backdrop-filter: blur(24.5px);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
    position: relative;
}

.what-will-item .item-number{
    position: absolute;
    left: 6.22%;
    right: 77.84%;
    top: 46.6%;
    bottom: -5.83%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 183px;
    color: #00BD90;

    opacity: 0.2;
}

.what-will-item .ww-item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 300px;
    height: 247.62px;
    left: calc(50% - 300px/2);
    top: calc(50% - 247.62px/2 + 0.31px);
    z-index: 1;
}

.what-will-item .item-title{
    width: 300px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1C1C1C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ww-last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 370px;
    height: 306px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.ww-last-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 14px;
    width: 370px;
    height: 58px;
    background: linear-gradient(91.24deg, #D4F5EE 0.02%, #FFFFFF 51.97%, #E7E6FB 99.76%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ww-last-item h4 {
    width: 270px;
    height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1C1C1C;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: start;
    padding-top: 6px;
}

.mp-blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mp-first-block {

}

.mp-middle-block {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin: 0 20px;
}

.mp-last-block {
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.mp-block-item {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: flex-start;
    padding: 16px 20px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 100%;
    height: 58px;
}

.mp-block-item .mp-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1C1C;
}

.mp-block-item img:last-of-type {
    margin-left: auto;
}

.small-section {
    margin: 50px 0;
}

.small-section .section-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.em-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.em-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 341px;
    height: 92px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.em-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C1C1C;
}
