.big-section {
    margin: 50px 0;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 30px;
}

.what-will-items {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    /*!*justify-items: start;*!*/
    gap: 30px;
}

.what-will-item {
    width: 370px;
    height: 309px;
    border-radius: 20px;
    background: url('/assets/summary/whatwill/bg-filtered.png') no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: cover;
    backdrop-filter: blur(24.5px);
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
    position: relative;
}

.what-will-item .item-number{
    position: absolute;
    left: 6.22%;
    right: 77.84%;
    top: 46.6%;
    bottom: -5.83%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 150px;
    line-height: 183px;
    color: #00BD90;

    opacity: 0.2;
}

.what-will-item .ww-item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    position: absolute;
    width: 300px;
    height: 247.62px;
    left: calc(50% - 300px/2);
    top: calc(50% - 247.62px/2 + 0.31px);
    z-index: 1;
}

.what-will-item .item-title{
    width: 300px;
    height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #1C1C1C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.what-will-item.block-1 img{
    width: 81.91px;
}

.what-will-item.block-2 img{
    width: 324px;
}

.what-will-item.block-3 img{
    width: 173.6px;
}

.what-will-item.block-4 img{
    width: 334px;
}

.what-will-item.block-5 img{
    width: 300px;
}

.ww-last {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    width: 370px;
    height: 306px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.ww-last-item{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 14px;
    height: 58px;
    background: linear-gradient(91.24deg, #D4F5EE 0.02%, #FFFFFF 51.97%, #E7E6FB 99.76%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 100%;
}

.ww-last-item h4 {
    width: 270px;
    height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #1C1C1C;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: start;
    padding-top: 6px;
}

.mp-blocks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.mp-first-block {
    display: block;
}

.mp-two-colum {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.mp-middle-block {
    width: 408px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin: 0 20px;
}

.mp-first-block-img {
    width: 311px;
}

.mp-middle-block-adaptive {
    display: none;
}

.mp-first-block-img-adaptive {
    display: none;
}

.mp-last-block {
    width: 398px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.mp-block-item {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: flex-start;
    padding: 16px 20px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 100%;
}

.mp-block-item .mp-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1C1C;
}

.mp-block-item img:last-of-type {
    margin-left: auto;
}

.mp-title-adaptive {
    display: none;
}

.small-section {
    margin: 50px 0;
}

.small-section .section-title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.em-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.em-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 10px;
    width: 341px;
    height: 92px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.em-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1C1C1C;
}

#blw-benefits {
    height: 867px;
    background-color: #E6F8F4;
    padding-top: 50px;
}

.blw-b-blocks {
    margin: 0 auto;
    margin-top: 105px;
    width: 1033px;
    position: relative;
}

.blw-b-blocks .container{
    background: url('/assets/summary/blw/dashed_path.png') no-repeat;
    height: 578px;
}

.blw-b-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px 18px;
    gap: 10px;
    height: 98px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: fit-content;
    position: absolute;
}

.blw-b-block.block-1 {
    left: 7%;
    top: -9%;
}

.blw-b-block.block-2 {
    left: 47%;
    top: -4%;
}

.blw-b-block.block-3 {
    left: 79%;
    top: 13%;
}

.blw-b-block.block-4 {
    left: 21%;
    top: 19%;
}

.blw-b-block.block-5 {
    left: -3%;
    top: 35%;
}

.blw-b-block.block-6 {
    left: 61%;
    top: 35%;
}

.blw-b-block.block-7 {
    left: 79%;
    top: 57%;
}

.blw-b-block.block-8 {
    left: 30%;
    top: 60%;
}

.blw-b-block.block-9 {
    left: 3%;
    top: 80%;
}

.blw-b-block.block-10 {
    left: 39%;
    top: 90%;
}


#blw-benefits-adaptive {
    display: none;
}

@media (max-width: 1265px) {
    .mp-blocks{
        flex-direction: column;
        align-items: unset;
    }

    .mp-first-block-img{
        margin-bottom: 30px;
    }

    .mp-middle-block {
        max-width: 408px;
    }

    .mp-last-block {
        max-width: 398px;
    }

    .mp-two-colum, .what-will-items {
        justify-content: center;
    }
}

@media (max-width: 1092px) {

    #blw-benefits {
        display: none;
    }

    #blw-benefits-adaptive {
        display: block;
    }

    .blw-b-blocks {
        width: 100%;
        height: 1129px;
    }

    .blw-b-blocks .container {
        background: url(/assets/summary/blw/benefit_adaptive_bg.png) no-repeat;
        width: 340px;
        height: 1129px;
        position: relative;
    }

    .blw-b-block {
        width: 163px;
        font-size: 14px;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
    }

    .blw-b-block img{
        width: 26px;
    }

    .blw-b-block.block-1 {
        left: 5%;
        top: -5%;
    }

    .blw-b-block.block-2 {
        left: 54%;
        top: 2%;
    }

    .blw-b-block.block-3 {
        left: 5%;
        top: 12%;
    }

    .blw-b-block.block-4 {
        left: 54%;
        top: 22%;
    }

    .blw-b-block.block-5 {
        left: 5%;
        top: 32%;
    }

    .blw-b-block.block-6 {
        left: 54%;
        top: 42%;
    }

    .blw-b-block.block-7 {
        left: 5%;
        top: 52%;
    }

    .blw-b-block.block-8 {
        left: 54%;
        top: 62%;
    }

    .blw-b-block.block-9 {
        left: 5%;
        top: 72%;
    }

    .blw-b-block.block-10 {
        left: 33%;
        top: 85%;
    }

    .active-users {
        margin-top: 0;
    }
}

@media (max-width: 768px) {

    header.summary img {
        display: none;
    }

    header.summary img.adaptive {
        display: block;
        width: 80px;
    }

    header.summary .btn-adaptive {
        display: block;
        font-size: 12px;
        padding: 12px 21px;
        border-radius: 5px;
    }

    .what-will-items {
        justify-content: center;
    }

    .what-will-item {
        width: 100%;
    }

    .ww-last {
        width: 100%;
    }

    .section-title {
        font-size: 20px;
        line-height: 26px;
    }

    .mp-first-block {
        display: flex;
        flex-direction: row;
        gap: 17px;
    }

    .mp-middle-block-adaptive {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .mp-two-colum {
        flex-direction: column;
    }

    .mp-title-adaptive {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #1C1C1C;
        margin: 30px 0;
    }

    .mp-first-block-img {
        display: none;
    }

    .mp-first-block-img-adaptive {
        display: block;
        width: 147px;
    }

    .mp-middle-adaptive-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 10px;
        width: 179px;
        height: 40px;
        text-align: start;
        font-size: 14px;
    }

    .mp-middle-block {
        display: none;
    }

    .mp-blocks{
        flex-direction: column;
        align-items: center;
    }

    .mp-last-block {
        align-items: center;
        max-width: 100%;
        font-size: 14px;
    }

    .mp-block-item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px 16px;
        gap: 14px;
        background: #FFFFFF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
    }

    .mp-text {
        font-size: 14px;
    }

    .em-blocks {
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }

    .em-block {
        width: 100%;
    }

    .what-will-item.block-1 img{
        width: 83px;
    }

    .what-will-item.block-2 img{
        width: 241px;
    }

    .what-will-item.block-3 img{
        width: 160px;
    }

    .what-will-item.block-4 img{
        width: 312px;
        margin-top: 49px;
    }

    .what-will-item.block-5 img{
        width: 285px;
    }

    .small-section {
        margin: 32px 0;
    }

    .section {
        margin-top: 36px;
    }
}