:root {
    --background-color: #fff;
    --acent-color-green: #00BD90;
    --grey-color: #1C1C1C;
    --light-grey-color: #C5C5C5;
    --light-red-color: #FF735C;
    --dark-font-color: #2E2E2E;
    --light-blue-color: #5FCAD3;
    --light-green-color: #E6F9F4;
    --heavy-green:#5cdba2;
    --heavy-blue:#5fcad3;
    --heavy-red:#fe7677;
}
